<section class="showcase">
  <header>
    <h2 class="logo">Simon Mac Aree</h2>
    <div class="toggle"></div>
  </header>
  <video src="../assets/images/video.mp4" muted loop autoplay></video>
  <!-- <div class="overlay"></div> -->
  <div class="text">
    <h2>My Coding Journey</h2>
    <h3>Never Stop Exploring</h3>
    <p>Here you will see what I have worked on personally and profersonaly.</p>
    <a routerLink="/home" routerLinkActive="active">My Work</a>
  </div>
</section>
<div class="menu">
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a href="#">Projects</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>
