<div class="container">
  <div class="front-end">
    <h3>Fron End</h3>
    <button (click)="frontBtn()">Concepts</button>
    <ng-container *ngIf="frontEnd">
      <div class="section">
        <h3>Vanilla JavaScript Projects</h3>
        <p>A list of of projects taken from different places.</p>
        <app-color-change></app-color-change>
      </div>
    </ng-container>
  </div>

  <div class="back-end">
    <h3>back End</h3>
    <P>Coming Soon</P>
    <button>Concepts</button>
  </div>
</div>
