<div class="container">
  <div class="front-end">
    <h2>Front End</h2>
    <div class="section">
      <h3>Vanilla JavaScript Projects</h3>
      <p>A list of of projects taken from different places.</p>
    </div>
    <div class="list">
      <!-- <div class="color"> -->
      <button (click)="frontBtn()" class="btn-background">
        Background change example
      </button>
      <app-color-change *ngIf="frontEnd"></app-color-change>
      <!-- </div> -->
      <div class="counter">
        <button (click)="counterBtn()" class="btn-counter">
          Counter example
        </button>
        <app-counter *ngIf="counterFront"></app-counter>
      </div>
    </div>
  </div>

  <div class="back-end">
    <h2>back End</h2>
    <P>Coming Soon</P>
    <button>Concepts</button>
  </div>

  <div>
    <a href="/music" routerLinkActive="active">Music Player</a>
  </div>
</div>
